<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta name="image-path" th:content="@{/images/hr/user.png}"/>
    <meta name="flag-path" th:content="@{/hrEmployee/setFlag}"/>
    <meta name="context-path" th:content="@{/}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui-themes/1.11.4/excite-bike/jquery-ui.css}">
    <script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

    <title>Add Employee Info </title>

    <!-- Bootstrap -->
    <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Font Awesome -->
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <!-- NProgress -->
    <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">

    <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link th:href="@{/build/css/custom.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/input-style.css}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        //$.noConflict();
        jQuery(document).ready(function ($) {

            $("#startDate").datepicker({
                changeMonth: true,
                changeYear: true
            });


            $("#endDate").datepicker({
                changeMonth: true,
                changeYear: true
            });

            var BASE_IMAGE_PATH = $('meta[name=image-path]').attr("content");
            var FLAG_PATH = $('meta[name=flag-path]').attr("content");

            $( "#dm" ).click(function() {
                document.getElementById('thumbnil').src=BASE_IMAGE_PATH;
                $("#ft").val("");
                $("#file").val(null);
                $.ajax({
                    type: 'POST',
                    url: FLAG_PATH,
                    data :{ "val" : 1},
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                });
            });

        });

        function showMyImage(fileInput) {
            var files = fileInput.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/;
                if (!file.type.match(imageType)) {
                    continue;
                }
                var img=document.getElementById("thumbnil");
                img.file = file;
                var reader = new FileReader();
                reader.onload = (function(aImg) {
                    return function(e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
            }
        }

    </script>

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">


        <!-- top navigation -->
        <div th:replace="headerFragment :: header"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

            <div class="row">
                <div class="col-md-12">
                    <div class="top-pagination">
                        <div class="page-title">
                            <div class="title_left">
                                <h4>Add New Employee Information</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




            <form onsubmit="return validtionCheck();" th:action="@{/hrEmployee/show}" th:object="${hrEmployee}"
                  method="post" enctype="multipart/form-data">
                <input id="hrId" type="hidden" th:field="*{id}"/>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">

                            <!-- <input class="w3-input w3-border w3-light-grey" type="text" th:field="*{empName}" />
                             <span style="color: red;" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}">Name Error</span>-->
                            <input class="effect-16" id="name" onchange="nameOnChange();" type="text"
                                   th:field="*{empName}">
                            <label style="">Employee Name<span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span style="color: red;" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"/>
                            <span id="name_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" id="code" onchange="codeOnChange();" type="text"
                                   th:field="*{code}">
                            <label style="">Code <span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span style="color: red;" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"/>
                            <span id="code_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" type="text" id="contact" onchange="contactOnChange();" th:field="*{contact}">
                            <label>Contact No<span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span id="contact_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" type="text" th:field="*{altContact}">
                            <label>Alt Contact No</label>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" id="email" type="text" th:field="*{email}">
                            <label>Email <span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                            <span id="email_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">

                            <input class="effect-16" id="nID" onchange="nationalIdOnChange();" type="text"
                                   th:field="*{nationalId}">
                            <label style="">National ID<span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span style="color: red;" th:if="${#fields.hasErrors('nationalId')}"
                                  th:errors="*{nationalId}"/>
                            <span id="nID_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" type="text" id="designation" onchange="designationOnChange();" th:field="*{designation}">
                            <label>Designation<span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span id="designation_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" type="text"id="postingArea" onchange="postingAreaOnChange();" th:field="*{postingArea}">
                            <label>Posting Area<span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span id="postingArea_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" id="salary" onchange="salaryOnChange();" type="text"
                                   th:field="*{salary}">
                            <label>Salary </label>
                            <span class="focus-border"></span>
                            <span style="color: red;" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"/>
                            <span id="salary_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Present Address"
                                      th:field="*{presentAddress}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Permanent Adress"
                                      th:field="*{permanentAddress}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <!--<img id="thumbnil" height="110" width="100"  th:src="@{/images/user.png}" alt="Default Image"/>-->
                            <img id="thumbnil" height="110" width="100"  th:src="*{id} == null ? @{/images/hr/user.png} : @{'/images/hr/'+${hrEmployee.image}}" alt="Default Image"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16 " id="startDate" onchange="startDateOnChange();" type="text"
                                   th:field="*{startDate}">
                            <label style="">Start Date <span style="color: red">*</span></label>
                            <span class="focus-border"></span>
                            <span style="color: red;" th:if="${#fields.hasErrors('startDate')}"
                                  th:errors="*{startDate}"/>
                            <span id="sDate_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-3 input-effect">
                            <input class="effect-16" id="endDate" type="text" th:field="*{endDate}">
                            <label>End Date</label>
                            <span class="focus-border"></span>
                            <span id="eDate_error" style="color: red;display: none"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="input-group" style="margin-top: 26px;">
                            <input id="ft" th:value="${hrEmployee.image}" type="text" class="form-control" readonly>
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Image&hellip; <input th:value="${hrEmployee.image}" readonly id="file" type="file" name="file" style="display: none;" accept="image/*" onchange="showMyImage(this)">
                                </span>
                                <button type="button" id="dm" class="btn btn-danger">Default Photo</button>
                            </label>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a class="w3-btn" th:href="@{/hrEmployee/allType}">Show HR Employee</a>
                    </div>
                </div>-->

            </form>


        </div>
        <!-- /page content -->

        <!-- footer content -->
       <!-- <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>-->
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Booth:tstra@{/ -->
<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Fasth:tClic@{/ -->
<script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NPrth:ogres@{/ -->
<script th:src="@{/vendors/nprogress/nprogress.js}"></script>
<script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
<script th:src="@{/vendors/raphael/raphael.min.js}"></script>
<script th:src="@{/vendors/morris.js/morris.min.js}"></script>

<!-- Custom Theme Scripts -->
<script th:src="@{/build/js/custom.js}"></script>
<script th:src="@{/js/hrEmployee/hrEmployee_form_validation.js}"></script>

<!-- Script here -->

<script>
    // JavaScript for label effects only
    $(window).load(function () {

        if ($('#hrId').val() != '') {
            $(".input-effect input").addClass("has-content")
        } else {
            $(".col-3 input").val("");
        }

        $(".input-effect input").focusout(function () {
            if ($(this).val() != "") {
                $(this).addClass("has-content");
            } else {
                $(this).removeClass("has-content");
            }
        })





        $(".effect-16").on('focusout', function() {
            var datepickervalue=1;
            if (datepickervalue==1) {
                $(this).addClass("has-content");
                datepickervalue++;
            } else {
                $(this).removeClass("has-content");
            }
        })








    });


    //custom input file
    $(function () {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

    });


</script>


</body>
</html>